<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hibernate.v2.testyourandroid">

    <uses-feature android:name="android.hardware.type.watch"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/android_resources"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true"/>

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.TestColorActivity"
            android:label="@string/title_activity_test_color">
        </activity>
        <activity
            android:name=".ui.activity.TestSensorLightActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_test_light_sensor">
        </activity>
        <activity
            android:name=".ui.activity.InfoHardwareActivity"
            android:label="@string/title_activity_info_hardware">
        </activity>
        <activity
            android:name=".ui.activity.InfoCPUActivity"
            android:label="@string/title_activity_info_cpu">
        </activity>
        <activity
            android:name=".ui.activity.InfoAndroidVersionActivity"
            android:label="@string/title_activity_info_android_version">
        </activity>
        <activity
            android:name=".ui.activity.InfoBatteryActivity"
            android:label="@string/title_activity_info_battery">
        </activity>
        <activity
            android:name=".ui.activity.TestSensorAccelerometerActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_test_accelerometer">
        </activity>
        <activity
            android:name=".ui.activity.TestSensorGravityActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_test_gravity">
        </activity>
    </application>

</manifest>