<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hibernate.v2.testyourandroid">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <!-- Normal permissions -->

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.GPS"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.NETWORK"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Dangerous permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <application
        android:name="hibernate.v2.testyourandroid.core.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:targetApi="m">

        <!-- For Google Ads -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".ui.hardware.HardwareScreenActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_screen"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".ui.hardware.HardwareSpeakerActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_speaker" />

        <activity
            android:name=".ui.hardware.HardwareMicrophoneActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_microphone" />
        <activity
            android:name=".ui.sensor.SensorLightActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_light" />
        <activity
            android:name=".ui.hardware.HardwareCameraActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_camera"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.hardware.HardwareTouchActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_touch" />
        <activity
            android:name=".ui.info.InfoHardwareActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_device" />
        <activity
            android:name=".ui.info.InfoCPUActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_cpu" />
        <activity
            android:name=".ui.info.InfoAndroidVersionActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_android_version" />
        <activity
            android:name=".ui.info.InfoBatteryActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_battery" />
        <activity
            android:name=".ui.info.InfoCameraActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_battery" />
        <activity
            android:name=".ui.info.wifi.WifiActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_wifi" />
        <activity
            android:name=".ui.info.InfoBluetoothActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_bluetooth" />
        <activity
            android:name=".ui.sensor.SensorAccelerometerActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_accelerometer" />
        <activity
            android:name=".ui.hardware.HardwareLocationActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_location" />
        <activity
            android:name=".ui.hardware.HardwareNFCActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_nfc" />
        <activity
            android:name=".ui.sensor.SensorProximityActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_proximity" />
        <activity
            android:name=".ui.info.InfoGSMActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_gsm" />
        <activity
            android:name=".ui.app.AppListActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_application" />
        <activity
            android:name=".ui.app.AppChooseActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_app_choose" />
        <activity
            android:name=".ui.appinfo.AppInfoActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_application" />
        <activity
            android:name=".ui.info.monitor.MonitorActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_system_monitor" />
        <activity
            android:name=".ui.sensor.SensorGravityActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_system_monitor" />
        <activity
            android:name=".ui.sensor.SensorPressureActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_pressure" />
        <activity
            android:name=".ui.sensor.SensorCompassActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_compass" />
        <activity
            android:name=".ui.sensor.SensorStepActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_step" />
        <activity
            android:name=".ui.sensor.SensorTemperatureActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_step" />
        <activity
            android:name=".ui.sensor.SensorHumidityActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_humidity" />
        <activity
            android:name=".ui.tool.ToolQRScannerActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_qr_scanner" />
        <activity
            android:name=".ui.tool.ToolBubbleLevelActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_bubble_level" />
        <activity
            android:name=".ui.tool.ToolFlashlightActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_flashlight" />
        <activity
            android:name=".ui.tool.ToolSoundMeterActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_sound_meter" />
        <activity
            android:name=".ui.tool.speedtest.ToolSpeedTestActivity"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/title_activity_sound_meter" />
        <activity android:name=".ui.hardware.HardwareBiometricActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ADMOB_APP_ID" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_API_KEY" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>